In [8]:
import pandas as pd

df = pd.read_csv('enable1.txt', sep='\t', header=None)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172823 entries, 0 to 172822
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       172821 non-null  object
dtypes: object(1)
memory usage: 1.3+ MB

In [6]:
df.describe()

            0
count   25320
unique  25320
top        aa
freq        1